<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="baejang.dynamic_media_view">

    <application>
        <activity
            android:name=".MediaActivity"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>
